
services:
  # PORTAINER - MANAGE CONTAINERS
  portainer:
    image: portainer/portainer-ce:latest
    hostname: portainer
    container_name: portainer
    restart: always
    command: -H unix:///var/run/docker.sock
    depends_on:
      - pihole
    ports:
      - 9000:9000
      - 8000:8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKER_BASE_FOLDER}/portainer:/data
      - ${DOCKER_BASE_FOLDER}/shared:/shared
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=${MY_TMZ}

  # ADD BLOCKING AND DHCP 
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    network_mode: "host"
    environment:
      TZ: ${MY_TMZ}
      FTLCONF_webserver_port: '${PIHOLE_WEB_PORT}'
      FTLCONF_webserver_api_password: '${PIHOLE_PASSWORD}'
      FTLCONF_dns_listeningMode: 'all'
    volumes:
      - '${DOCKER_BASE_FOLDER}/pihole/etc-pihole:/etc/pihole'
      - '${DOCKER_BASE_FOLDER}/pihole/etc-dnsmasq:/etc/dnsmasq.d'
    cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
      # Required if you are using Pi-hole as your DHCP server, else not needed
      - NET_ADMIN
      # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
      - SYS_TIME
    restart: unless-stopped
    # have watchtower control
    labels:
      - "com.containrrr.watchtower=true"
  
  # nginx:
  #   container_name: nginx
  #   image: nginx
  #   depends_on:
  #     - pihole
  #   volumes:
  #     - ${DOCKER_BASE_FOLDER}/templates:/etc/nginx/templates
  #     - ${DOCKER_BASE_FOLDER}/nginx/config:/etc/nginx/conf.d
  #     - ${DOCKER_BASE_FOLDER}/nginx/html:/etc/nginx/html
  #   ports:
  #     - "480:80"
  #     - "443:443"
  #   environment:
  #     - NGINX_PORT=80
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway"
  #   restart: always

  # keep docker images updated
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    depends_on:
      - pihole
    # Mount the Docker socket so Watchtower can interact with the Docker daemon
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      # Optional: Set a human-readable timezone
      TZ: ${MY_TMZ}
      
      # Recommended: Only update containers that explicitly have the 
      # label "com.containrrr.watchtower" set to "true".
      # Comment this out if you want it to update *every* container.
      WATCHTOWER_SCOPE: com.containrrr.watchtower
      
      # Optional: Set the check interval (default is 24 hours, but can set a specific interval in seconds)
      # WATCHTOWER_POLL_INTERVAL: 86400 
    
    # Apply the label here so Watchtower monitors itself (optional, but good practice)
    labels:
      - "com.containrrr.watchtower=true"

