services:
  # PORTAINER - MANAGE CONTAINERS
  portainer:
    image: portainer/portainer-ce:latest
    hostname: portainer
    container_name: portainer
    restart: always
    command: -H unix:///var/run/docker.sock
    depends_on:
      - pihole
    ports:
      - 9000:9000  
      - 8000:8000  
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKER_BASE_FOLDER}/portainer:/data
      - ${DOCKER_BASE_FOLDER}/shared:/shared
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=${MY_TMZ}
    labels:
      - "com.containrrr.watchtower=true"

  # NGINX PROXY MANAGER
  nginxpm:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    environment:
      TZ: ${MY_TMZ}
      DISABLE_IPV6: 'true'
    volumes:
      - ${DOCKER_BASE_FOLDER}/nginxpm/data:/data
      - ${DOCKER_BASE_FOLDER}/nginxpm/letsencrypt:/etc/letsencrypt

  # PIHOLE
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    network_mode: "host"
    environment:
      TZ: ${MY_TMZ}
      FTLCONF_webserver_port: '${PIHOLE_WEB_PORT}'
      FTLCONF_webserver_api_password: '${PIHOLE_PASSWORD}'
      FTLCONF_dns_listeningMode: 'all'
    volumes:
      - '${DOCKER_BASE_FOLDER}/pihole/etc-pihole:/etc/pihole'
      - '${DOCKER_BASE_FOLDER}/pihole/etc-dnsmasq:/etc/dnsmasq.d'
    cap_add:
      - NET_ADMIN
      - SYS_TIME
    restart: unless-stopped
    labels:
      - "com.containrrr.watchtower=true"
